@let cart = store.cartVm();
<div class="overlay" (click)="store.toggleCartVisibility()"></div>
<div class="content">
  <h1>Your Cart ({{ cart.itemsCount }} items)</h1>
  <div class="items">
    @for (item of cart.items; track item.id) {
    <app-cart-item [item]="item" />
    <hr />
    }
  </div>
  <div class="subtotal">
    <div class="label">Subtotal:</div>
    <div class="value">{{ cart.subtotal | currency }}</div>
  </div>
  <div class="tax">
    <div class="label">Tax:</div>
    <div class="value">{{ cart.tax | currency }}</div>
  </div>
  <div class="total">
    <div class="label">Total:</div>
    <div class="value">{{ cart.total | currency }}</div>
  </div>
  <div class="actions">
    <button
      mat-flat-button
      [disabled]="!cart.canCheckout"
      (click)="store.checkout()"
    >
      Checkout
    </button>
  </div>
</div>
